// COMPONENTS
$btn-close-margin: 10px;
$modal-header-color: #2c4157;
$modal-header-size: 32px;
$blue-color: #007ed6;
$keyboard-sms-btn-size: 62px;
$keyboard-sms-btn-margin: 9px;
$keyboard-sms-btn-radius: 8px;
$keyboard-sms-btn-active: #f7faf9;
$error-message-color: rgba(228, 87, 46, 0.79);
$error-message-font: 18px "Roboto-Regular";
$roboto-regular: "Roboto-Regular", sans-serif;
$roboto-medium: "Roboto-Medium", sans-serif;
$menu-height: 230px;

//PAGES
$bg-color: #f7faf9;
$link-disabled-bg: #e2ebe8;
$link-disabled-color: rgba(44, 65, 87, 0.3);
$link-height:  52px;















  // mixin

@mixin main-header {
  color: $modal-header-color;
  font-size: 28px;
  font-family: $roboto-medium;
  width: 100%;
}
