$btn-close-margin: 10px;
$modal-header-color: #2c4157;
$modal-header-size: 32px;
$blue-color: #007ed6;
$keyboard-sms-btn-size: 62px;
$keyboard-sms-btn-margin: 9px;
$keyboard-sms-btn-radius: 8px;
$keyboard-sms-btn-active: #f7faf9;
$error-message-color: rgba(228, 87, 46, 0.79);
$error-message-font: 18px "Roboto-Regular";
