.select-alphabet {

  &__search-icon {
    font-size: 26px;
    margin-right: 7px;
  }

  &__keyboard {
    margin: 35px 0 0 -6px;
  }

  &__to-keyboard {
    font-family: $roboto-regular;
    font-size: 24px;
    color: $blue-color;
    @include center-flex;

    & i {
      margin-right: 5px;
    }

    &:active {
      color: $blue-color-active;
    }
  }

}
